{% extends 'base.html' %}

{% block title %}Product Detail{% endblock %}

{% block content %}

<div class="row">

    <div class="col-md-6">
        <img src="https://via.placeholder.com/500" class="img-fluid rounded shadow">
    </div>

    <div class="col-md-6">

        <h3>Recycled Lamp</h3>
        <p class="text-muted">Eco-friendly decorative lamp made from scrap materials.</p>

        <h4 class="text-success">₹799</h4>

        <button class="btn btn-primary mt-3">
            Buy Now
        </button>

    </div>

</div>

{% endblock %}
