{% extends "base.html" %}

{% block content %}

<h3 class="text-center mb-4">❤️ My Wishlist</h3>

<div class="row">

{% for item in wishlist_items %}

<div class="col-md-4 mb-4">

    <div class="card shadow-sm">

        {% if item.artwork.image %}
        <img src="{{ item.artwork.image.url }}" class="card-img-top" style="height:200px; object-fit:cover;">
        {% endif %}

        <div class="card-body text-center">

            <h6>{{ item.artwork.title }}</h6>

            <p class="text-muted small">
                {{ item.artwork.description|truncatechars:80 }}
            </p>

            <p class="fw-bold text-success">
                ₹ {{ item.artwork.price }}
            </p>

            <a href="{% url 'buy_product' item.artwork.id %}" class="btn btn-primary btn-sm">
                Buy
            </a>

            <form method="POST" action="{% url 'toggle_wishlist' item.artwork.id %}">
                {% csrf_token %}
                <button class="btn btn-danger btn-sm mt-2">
                    Remove ❌
                </button>
            </form>

        </div>

    </div>

</div>

{% empty %}

<div class="col-12 text-center">
    <div class="alert alert-info">
        No items in wishlist ❤️
    </div>
</div>

{% endfor %}

</div>

{% endblock %}