{% extends "base.html" %}

{% block content %}

<h3>My Purchased Scraps</h3>

<table class="table table-bordered">

<thead>
<tr>
<th>Scrap</th>
<th>Weight</th>
<th>Seller</th>
<th>Status</th>
</tr>
</thead>

<tbody>

{% for r in purchases %}

<tr>

<td>{{ r.scrap.category }}</td>

<td>{{ r.requested_weight }} kg</td>

<td>{{ r.scrap.seller.username }}</td>

<td>
<span class="badge bg-success">
Paid
</span>
</td>

</tr>

{% empty %}

<tr>
<td colspan="4">
No purchases yet
</td>
</tr>

{% endfor %}

</tbody>

</table>

{% endblock %}